grpcio>=1.65.0
grpcio-tools>=1.65.0
protobuf>=5.28.0
yagrc>=1.1.1
paho-mqtt>=2.1.0
influxdb>=5.3.1
influxdb_client>=1.48.0
pypng>=0.20220715.0
typing-extensions>=4.12.2
croniter>=3.0.3
python-dateutil>=2.9.0.post0