[Unit]
Description=Starlink GRPC to InfluxDB 2.x exporter
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/starlink-grpc-tools/
Environment=INFLUXDB_URL=localhost:8086 INFLUXDB_TOKEN=<changeme> INFLUXDB_Bucket=<changeme> INFLUXDB_ORG=<changeme> INFLUXDB_SSL=false
ExecStart=python3 dish_grpc_influx2.py -B starlink -t status alert_detail
